@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafc
    ;
  }

  #root {
    height: 100%;
  }

  /* Path: styles\globals.css */